<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Cyborg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="bootstrap.css" media="screen">
    <link rel="stylesheet" href="animation.css" media="screen">

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js"></script>
    <script src="ang/app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.6.1/firebase.js"></script>

    <!--
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		-->

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
  </head>
  <body ng-controller="categCtrl">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="index.html" class="navbar-brand">MyShop</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="categorias.html">Categorias</a>
            </li>
            <li>
              <a href="produtos.html">Produtos</a>
            </li>
            <li>
              <a href="lista.html">Listas</a>
            </li>
            <li>
              <a href="../help/">Iniciar compra</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">

      <br>
      <br>

      <!-- Forms
      ================================================== -->
      <div class="page-header">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h4 id="forms">Categorias</h4>
            </div>
          </div>
        </div>

        <div class="page-alerts" ng-show="show_message">
          <div class="alert alert-success page-alert" id="alert-1">
              <!--
              <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              -->
              <strong>{{msg}}</strong>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
              <form>
                <div class="form-group">
                  <label class="control-label" for="inputSmall">Nova Categoria</label>
                  <input class="form-control input-sm" type="text" ng_model="myText" class="form-control" for="inputSmall" id="inputDefault" placeholder="Digite a descrição da categoria...">
                </div>
              </form> 
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="col-lg-12">
            <button type="submit" class="btn medio btn-primary btn-sm" ng-click="salvar(myText)" data-toggle="page-alert" data-toggle-id="1">Salvar</button>
          </div>
        </div>        
      </div>

      <br>

      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h6 id="tables">Categorias cadastradas</h6>
          </div>
        </div>
      </div>

      <div class="row" ng-show="show_spinner">
        <div class="col-lg-12">
          <div style="text-align: center;">
            <i class="fa fa-refresh fa-spin" style="font-size:35px;"></i>          
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          
          <div ng-repeat="cat in categ">
            <div class="esq" id="{{cat.$value + '_esq'}}" ng-click="delet(cat)" style="text-align: center;">
              <span class="fa fa-trash-o" style="color: #ffffff;"></span>
            </div>
            <div class="dir" id="{{cat.$value + '_dir'}}" title="grd" onclick="reduce(this)">{{cat.$value}}</div> 
          </div>

        </div>
      </div>

      <br>

    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>

    <script>

        function reduce(obj_id) {

            var id_obj_esq = obj_id.id.substring(0 , obj_id.id.length - 4) + "_esq"

            var obj_esq;
            obj_esq = document.getElementById(id_obj_esq);

            if (obj_id.title === "grd") {
              movement = 0;
              $(obj_id).removeClass();
              $(obj_esq).removeClass();
              $(obj_id).addClass("reduce");
              $(obj_esq).addClass("delete");
              obj_id.title = "peq";
            } else {
              movement = 1;
              $(obj_id).removeClass();
              $(obj_esq).removeClass();
              $(obj_id).addClass("reduceback");
              $(obj_esq).addClass("deleteback");
              obj_id.title = "grd";
            }  
        }

    </script>

  </body>

  <script type="text/javascript">
    /*
    $(function() {
        $('.page-alert').hide();
        //Show alert
        $('button[data-toggle="page-alert"]').click(function(e) {
            e.preventDefault();
            var id = $(this).attr('data-toggle-id');
            var alert = $('#alert-' + id);
            var timeOut;
            alert.appendTo('.page-alerts');
            alert.slideDown();
            
            //Is autoclosing alert
            var delay = $(this).attr('data-delay');
            if(delay != undefined)
            {
                delay = parseInt(delay);
                clearTimeout(timeOut);
                timeOut = window.setTimeout(function() {
                        alert.slideUp();
                    }, delay);
            }
        });
        
        //Close alert
        $('.page-alert .close').click(function(e) {
            e.preventDefault();
            $(this).closest('.page-alert').slideUp();
        });
        
        //Clear all
        $('.clear-page-alerts').click(function(e) {
            e.preventDefault();
            $('.page-alert').slideUp();
        });

    }); */
  </script>
</html>
