<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>
    <ion-title>Detalhes do pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!customer">
    <ion-list>
      <ion-list-header>Buscar cliente</ion-list-header>
      <ion-item>
        <ion-label color="primary" floating>Nome</ion-label>
        <ion-input color="primary" [(ngModel)]="customerName" (keyup)="onSearch()" (change)="onSearch()" (blur)="onSearch()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Celular</ion-label>
        <ion-input color="primary" [(ngModel)]="customerCellphone" (keyup)="onSearch()" (change)="onSearch()" (blur)="onSearch()"></ion-input>
      </ion-item>
      <ion-list-header *ngIf="customersList | async">Selecionar cliente</ion-list-header>
      <ion-item *ngFor="let item of customersList | async" (click)="setCustomer(item)" detail-push>
        {{ item.nome }}
      </ion-item>
    </ion-list>

    <ion-fab bottom right #fab>
      <button ion-fab (click)="onNewCustomer()"><ion-icon name="md-add"></ion-icon></button>
    </ion-fab>
  </div>

  <div *ngIf="customer">
    <ion-list>
      <ion-list-header>Cliente escolhido</ion-list-header>
      <ion-item-group>
        <ion-item>Nome: {{ customer.nome }}</ion-item>
        <ion-item>Celular: {{ customer.celular }}</ion-item>
      </ion-item-group>

      <ion-list-header>Adicionar itens</ion-list-header>
      <ion-row>
        <ion-col>
          <button ion-fab color="primary" (click)="presentModal()">
            <ion-icon name="md-search"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button ion-fab color="primary" (click)="onGetBarcode()">
            <ion-icon name="md-qr-scanner"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-list-header *ngIf="itemsList">Itens adicionados</ion-list-header>
      <ion-item-sliding *ngFor="let item of itemsList">
        <ion-item>
          <h3>{{item.desc}}</h3>

          <div class="text-align-left">
            <ion-row>
              <ion-col col-5>Tam: {{ item.tamanho }}</ion-col>
              <ion-col col-3>Cor: {{ item.cor }}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-5>Marca: {{ item.marca }}</ion-col>
              <ion-col col-3>Preço: {{ item.valVenda }}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-5>Disp.: {{ item.qtd_disp }}</ion-col>
            </ion-row>
          </div>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button color="danger" icon-only (click)="deleteItem(item)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-row class="info" *ngIf="itemsList">
        <ion-col><span>Qtde.: {{ qty }}</span></ion-col>
        <ion-col><span>Subtotal: R$ {{ subTotalCurrencyFormatted }}</span></ion-col>
      </ion-row>

      <ion-list-header *ngIf="itemsList">Informações de pagamento</ion-list-header>
      <div *ngIf="itemsList">
        <ion-item>
          <ion-icon color="primary" name="md-card" item-left></ion-icon>
          <ion-label color="primary" floating>Forma de pagamento</ion-label>
          <ion-select interface="action-sheet" [(ngModel)]="paymentMethod">
            <ion-option value="Dinheiro">Dinheiro</ion-option>
            <ion-option value="Debito">Débito</ion-option>
            <ion-option value="Credito">Crédito</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon color="primary" name="md-contacts" item-left></ion-icon>
          <ion-label color="primary" floating>Forma de venda</ion-label>
          <ion-select interface="action-sheet" [(ngModel)]="salesMethod">
            <ion-option value="Facebook">Facebook</ion-option>
            <ion-option value="Instagram">Instagram</ion-option>
            <ion-option value="Bazar">Bazar</ion-option>
            <ion-option value="Indicacao">Indicação</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon color="primary" name="md-pricetags" item-left></ion-icon>
          <ion-label color="primary" floating>Desconto</ion-label>
          <ion-input type="text" [brmasker]="{percent: true}" [(ngModel)]="discount"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon color="primary" name="md-cube" item-left></ion-icon>
          <ion-label color="primary" floating>Frete</ion-label>
          <ion-input type="text" [(ngModel)]="shipping" [brmasker]="{money: true}"></ion-input>
        </ion-item>
      </div>

      <button *ngIf="itemsList" ion-button block type="button" color="primary" (click)="onSubmit()">Confirmar</button>

      <ion-row *ngIf="itemsList && confirm">
        <ion-col>
          <button block ion-fab color="dark" (click)="onSendEmail()">
            <ion-icon name="md-mail"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button block ion-fab color="primary" (click)="onSendSMS()">
            <ion-icon name="ios-send"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button block ion-fab color="secondary" (click)="onSendWhats()">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
</ion-content>
