$primary-color: #8E8D93;

page-products {
  background: #fff;
  
  ion-list {
    ion-item {
      border-left: $primary-color 2px solid !important;
      padding-left: 0px !important;
      text-indent: 10px !important;

      ion-icon {
        color: $primary-color;
      }
    }
  }

  ion-label {
    h3 {
      font-size: 18px !important;
      font-weight: bold !important;
    }

    ion-row {
      ion-col {
        padding-left: 0px !important;
      }
    }
  }
}