<ion-header>
  <ion-navbar no-border-bottom>
    <button *ngIf="!modal" ion-button menuToggle>
      <ion-icon name="md-menu"></ion-icon>
    </button>

    <!--
    <ion-title>Produtos</ion-title>
    -->

    <button *ngIf="modal" ion-button (click)="dismiss()">
      <ion-icon name="md-close"></ion-icon>
    </button>

    <ion-buttons right>
      <ion-fab right middle>
        <button ion-fab mini color="primary" (click)="onScan()">
          <ion-icon name="md-qr-scanner"></ion-icon>
        </button>
      </ion-fab>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="getProducts()"
                   placeholder="Digite o código ou nome do produto...">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher *ngIf="queryText.length" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="queryText.length">
    <ion-item-sliding *ngFor="let item of items | async">
      <ion-item *ngIf="item.desc && item.tamanho && item.cor && item.marca && item.valVenda" [ngClass]="{ 'sold-out': item.qtd_disp < 1 }" detail-push (click)="setProduct(item)">
        <h3>{{item.desc}}</h3>
        
        <ion-row>
          <ion-col col-5><strong>Tam:</strong> {{ item.tamanho }}</ion-col>
          <ion-col col-3><strong>Cor:</strong> {{ item.cor }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-5><strong>Preço:</strong> {{ item.valVenda }}</ion-col>
          <ion-col col-3><strong>Marca:</strong> {{ item.marca }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-5><strong>Disp.:</strong> {{ item.qtd_disp }}</ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" icon-only (click)="deleteProduct(item)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right #fab>
    <button ion-fab (click)="newProduct()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>
</ion-content>